<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Record</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'record.list' %}" class="pure-menu-link">
      <i class="fa fa-file-text-o"></i>
      File Conversion
    </a>
  </div>
</div>
