{% extends 'record/base.html' %}
{% load static %}

{% block title %}
  Records
{% endblock title %}

{% block sub_heading %}
  Records
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Created</th>
            <th>File</th>
            <th>Type</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {{ o.created|date:'d/m/Y H:i' }}
              </td>
              <td colspan="3">
                <strong>
                  {{ o.original_file_path }}
                </strong>
              </td>
            </tr>
            {% for conversion in o.conversions %}
              <tr valign="top">
                <td>
                </td>
                <td>
                  {% if conversion.complete %}
                    <a href="{% url 'record.conversion' conversion.pk %}" target="_blank">
                      {{ conversion.converted_file }}
                    </a>
                  {% endif %}
                  {% if conversion.status %}
                    <small>
                      {{ conversion.status|linebreaks }}
                    </small>
                  {% endif %}
                </td>
                <td>
                  {{ conversion.file_type }}
                </td>
                <td>
                  {% if conversion.complete %}
                    {{ conversion.complete|date:'d/m/Y H:i' }}
                  {% endif %}
                  {% if conversion.retry_count %}
                    <br>
                    <small>
                      Tried {{ conversion.retry_count }} times...
                    </small>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
