{% extends 'dash/base.html' %}

{% block sub_title %}
  Upload Attachment
{% endblock sub_title %}

{% block sub_heading %}
  Upload Attachment
{% endblock sub_heading %}

{% block content %}
  {% if next %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Upload Attachment' multipart=True inline_checkbox=True %}
      <br>
    </div>
  </div>
{% endblock content %}
